* {
  background-color: black;
}

img {
  width: 200px;
  height: 200px;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
nav {
  list-style: none;
  color: #379ec1;
  margin: 0 auto; /* centrage horizontal */
  width: 500px;
}
header {
  text-align: center;
  color: #659224;
}
.titre {
  color: #379ec1;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  vertical-align: center;
}
